{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turismo</title>
    <link rel="icon" href="{% static 'core/img/rema.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="{% static 'core/css/jvacss.css' %}"> 

</head>

<body>



    <header class="text-center my-4">
        <h1>Rema para buscar</h1>
    </header>

    <section class="button-container mt-5">
        <h3 class="text-center">Etapas de la Búsqueda</h2>
            <div class="row">

                <div class="col-12 col-md-4 mb-4">
                    <a href="{% url 'formulario' %}"
                        class="btn btn-outline-primary btn-block d-flex align-items-center justify-content-center">
                        <img src="{% static 'core/img/formpng.png' %}" alt="Logo de Formulario" width="50" class="mr-2">
                        Formulario
                    </a>
                </div>



                <div class="col-12 col-md-4 mb-4">
                    <a href="{% url 'juego' %}"
                        class="btn btn-outline-primary btn-block d-flex align-items-center justify-content-center">
                        <img src="{% static 'core/img/game.png' %}" alt="Logo de juego" width="50" class="mr-2">
                        Juego
                    </a>
                </div>




                <div class="col-12 col-md-4 mb-4">
                    <a href="{% url 'destinofinal' %}"
                        class="btn btn-outline-primary btn-block d-flex align-items-center justify-content-center">
                        <img src="{% static 'core/img/cuestionari.png' %}" alt="Logo de Cuestionario" width="50"
                            class="mr-2">
                        Destino Final
                    </a>
                </div>

                <div class="col-12 col-md mb-4">
                    <a href="{% url 'index' %}"
                        class="btn btn-outline-primary btn-block d-flex align-items-center justify-content-center">
                        <img src="{% static 'core/img/inicio.png' %}" alt="Logo de juego" width="50" class="mr-2">
                        Inicio
                    </a>
                </div>





            </div>




    </section>





    <h2>Turismo</h2>

    <main class="container">
        <div class="text-center custom-bg-gray p-4 rounded">
            <p class="text-justify"> En esta parte del juego encontrará rutas que lo guiarán a diferentes sitios
                turísticos de la Ciudad de Buenos Aires, la cual fue separada en <i>Núcleos</i>.</p>
            <p class="text-justify">Cada uno de ellos está conformado por diferentes destinos o paradas. En cada
                <i>Núcleo</i> hay una parada en la que hallará una <strong>Pista.</strong>
            </p>

            <p class="text-justify">Como su cara de <i>"Qué pajaaa!🦥"</i> se está viendo, me complace avisarle que los
                lugares con pista le serán indicados por Núcleo.</p>

            <p class="text-justify">Las paradas con pistas deberá anotarlas en <i>Formulario</i> y las pistas que reciba
                en papel, en <i>Destino Final</i>.

                De esta forma, completando las diferentes etapas de la búsqueda, podrá dirigirse al <stronge>destino
                    final</strong>.
            </p>



            <a href="https://youtu.be/OHGt3VRYVzA" target="_blank" title="Sorpresa 3 =)"> Tercero, otra canción</a>

        </div>

    </main>

    <br>

    <h4>Ruta con los principales núcleos</h4>


    <div class="card-container">

        <div class="card">
            <div class="card-content">
                <a href="https://maps.app.goo.gl/7h3zE7KqofAhVUQd7" target="_blank" class="nucleo">Núcleo 1</a>
            </div>

            <div class="card-content">
                <a href="{% url 'pista1' %}" class="pista">Pista 1</a>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <a href="https://maps.app.goo.gl/Pgw4MhTGjceLBMtv7" target="_blank" class="nucleo">Núcleo 2</a>
            </div>
            <div class="divider"></div>
            <div class="card-content">
                <a href="{% url 'pista2' %}" class="pista">Pista 2</a>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <a href="https://maps.app.goo.gl/DvXHFgz4kMsjGc1P9" target="_blank" class="nucleo">Núcleo 3</a>
            </div>
            <div class="card-content">
                <div class="divider"></div>
                <a href="{% url 'pista3' %}" class="pista">Pista 3</a>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <a href="{% url 'descanso' %}" class="descanso">Descanso</a>
            </div>
            <div class="card-content">
                <div class="divider"></div>
                <a href="{% url 'pista4' %}" class="pista">Pista 4</a>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <a href="https://maps.app.goo.gl/tfCo5QTZKa4By75z9" target="_blank" class="nucleo">Núcleo 5</a>
            </div>
            <div class="card-content">
                <div class="divider"></div>
                <a href="{% url 'pista5' %}" class="pista">Pista 5</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <a href="https://maps.app.goo.gl/EwHLvh48WKDmdHPu7" target="_blank" class="nucleo">Núcleo 6</a>
            </div>
            <div class="card-content">
                <div class="divider"></div>
                <a href="{% url 'pista6' %}" class="pista">Pista 6</a>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <a href="https://maps.app.goo.gl/j4CbnqRZFuTJPUGW6" target="_blank" class="nucleo">Núcleo 7</a>
            </div>
            <div class="card-content" class="destino-final">
                <a href="{% url 'destinofinal' %}" class="destino">Destino Final</a>
            </div>

        </div>










        <footer>
            <div class="fraseformulario">Admira a quien lo intente aunque fracase (Séneca)</div>
        </footer>



</body>



</html>
